html {
	background-color: gray; 
	color: white
}
body {
	margin: auto;
	width: 700px;
}
header {
	text-align: center;
}

ul, li {
	padding:0;
	margin:0;
	display: inline-block;

}
figure {
	float: right;

}