html {
	background-color:rgb(70, 70, 70);
	font-family:sans-serif;
	color:white;
	font-size: 19px;



}

a{
	color:rgb(93, 146, 93);
	/*text-decoration: none*/
}
a:hover {
	color:#90EE90;
}

header{
	text-align:center;
	font-weight: lighter;

}

body{

	padding: 100px;
/*	border-style: solid;
	border-width: 5px;
	border-color: grey*/;
	border: 5px solid grey;
	margin:auto;
	width:700px;
	font-family:serif;

}

ul,li{

	padding:10;
	margin:10;
	display:inline-block;
	font-family: sans-serif;
	font-weight: bold;
}


h1{
	text-align:center;
	font-family: georgia;
	font-weight: lighter;
	font-style: italic;
	font-size: 40px;
	color:white;
}

h2{
	font-family: sans-serif;
	font-size: 25px;
}


img{
	float:right;
}

p{
	font-weight: normal;
	line-height: 150%;
	color: rgb(238,238,238);
}

img{
	margin: 10px;
	padding: 5px;
	color:rgb(70, 70, 70);
	border-style: solid;
	border-color: grey;
}

 
footer{
	text-align:center;
	padding: 10px;
}

div{
	color:grey;
	font-weight: lighter;
}

hr {
	height: 1px;
    background-color: white;
    border:none
}



